/* Définition des variables personnalisées pour les familles de polices */
:root {
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* Mise à jour du body pour utiliser la police de base */
  body {
    font-family: var(--font-family-base);
  }
  
  /* Déclaration pour tous les niveaux de titres (h1 à h6) */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
  }
